<% include partials/header %>

	<h1><%= title %></h1>

	<h2>Montego Bay Today's Weather</h2>
	<div id = "mbw">

	</div>

	<h2>Kingston Today's Weather</h2>
	<div id = "kw">

	</div>	

	<ul>
		<% employees.forEach(function(employee){ %>
			<li> 
				<%=employee.id%>
				<%=employee.fnm%>
				<%=employee.lnm%>
			</li>
		<% }) %>
	</ul>

<% include partials/footer %>